@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;

}

.maincontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 30px;
}
body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.leftcontainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
input, button{
    color: black;
}
img{
    width: 40px;
}